repositories:
  - name: headlamp
    url: https://kubernetes-sigs.github.io/headlamp/

releases:
   - name: headlamp
     namespace: kube-system
     chart: headlamp/headlamp
     values:
      - ingress:
          enabled: true
          hosts:
            - host: "lamp.mariusdavid.fr"
              paths:
                - path: /
                  type: ImplementationSpecific

# NOTES:
# 1. Get the application URL by running these commands:
#   export POD_NAME=$(kubectl get pods --namespace kube-system -l "app.kubernetes.io/name=headlamp,app.kubernetes.io/instance=headlamp" -o jsonpath="{.items[0].metadata.name}")
#   export CONTAINER_PORT=$(kubectl get pod --namespace kube-system $POD_NAME -o jsonpath="{.spec.containers[0].ports[0].containerPort}")
#   echo "Visit http://127.0.0.1:8080 to use your application"
#   kubectl --namespace kube-system port-forward $POD_NAME 8080:$CONTAINER_PORT
# 2. Get the token using
#   kubectl create token headlamp --namespace kube-system


# And also, kubectl port-forward -n kube-system service/headlamp 8080:80
